* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-size: 20px;
    font-weight: bold;
    color: white;
}

/* TOPO */
.topo {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    background-image: linear-gradient(to right, rgb(0, 128, 0), rgb(253, 224, 71), rgb(255, 0, 0));
    box-shadow: 0px 2px 8px rgba(0,0,0,0.15);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo img {
    width: 40px;
    cursor: pointer;
}

.card{
    background-color: #fff;
    width: 80%;
    margin: 40px auto;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-left: 6px solid #04AA6D;
    animation: aparecer 0.4s ease-out;
}

.info {
    margin-bottom: 12px;
    font-size: 17px;
    color: #444;
}

.info span:first-child {
    font-weight: bold;
    color: #2e624b;
    margin-right: 5px;
}

#situacao {
    padding: 4px 10px;
    border-radius: 6px;
    font-weight: bold;
}

.status-entregue {
    background-color: #00c853;
    color: white;
}

.status-caminho {
    background-color: #ff9800;
    color: white;
}

.status-processando {
    background-color: #0288d1;
    color: white;
}

.botao-voltar {
            display: inline-block;
            background-color: #2e624b;
            color: #fff;
            padding: 12px 20px;
            border-radius: 10px;
            text-decoration: none;
            margin-top: 25px;
            font-weight: bold;
        }

        .botao-voltar:hover {
            background-color: #0f3d28;
        }